#addButton
{
  max-width: 46px;
  position: absolute;
  top: 8em;
  right: 5em;
}

.app
{
  text-align: center;
}

.btn-group
{
  align-items: center;
}

.buttonScheme
{
  background-color: #708090;
  border-color: transparent;
  color: white;
  margin-left: 1%;
  margin-right: 1%;
}

.canvasCards
{
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  height: 100%;
}

.cardContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-content: flex-start;
  align-items: stretch;
  gap: 25px;
}

.cardContent
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent1
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cardSizing{
  align-items: stretch;
}

.cardItem
{
  flex-grow: 3;
}

.checkScheme
{
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 3px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius:60px;
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
}

.checkScheme:active, .checkScheme:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkScheme:checked {
	background-color: #64706f;
	border: 3px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}


#dateTime
{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  gap: 2px;
}

.desc 
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 3vw;
  margin-top: 3em;
  width: 40vw;
}

.editBtns
{
  display: flex;
  flex-direction: row;
  word-wrap: normal;
  margin-bottom: 5px;

}

.editLine
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.editTask, .listGrid:hover
{
  background-color: white;
  border-radius: 10px;
}

#editSched
{
  align-items: center;
}

.editStack
{
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.filterLimiter{
  white-space: nowrap;
  padding-right: 0px;
  -apple-padding-right: 10px;
}

.filterBtns
{
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 1em;
  padding-left: auto;
  padding-right: auto;
  min-width: 400px;

}

.form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1%;
  padding-right: 3%;
}

.formBtn
{
  background-color: #708090;
  border-color: transparent;
  border-radius: 20px;
  color: white;
}

#formCard
{
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border-radius: 20px;
  padding: 2em 3em 2em;
}

#helpLink
{
  text-align: right;
  font-size: smaller;
}

#homeText
{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  margin-left: 6em;
}

.inFields
{
  border-color: transparent;
  border-radius: 10px;
  background-color: #E1E1E7;
  font-size: 20px;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

.inFields:focus
{
  background-color: rgb(243, 243, 243);
}

#landing
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  top: 1em;
}

.listAdjust
{
  margin-bottom: auto;

}

.listGrid
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 0px;

}

.listGrid:hover
{
  padding-right: 0px;
}

.listGrid:hover > .btn-group > .schedTaskView
{
  display: inline-block;
  margin-left: 1%;

}

.listGrid:hover > .btn-group > .schedTaskView:hover
{
  color: white;

}

.listGrid:hover > .btn-group > .priorityTaskView
{
  visibility: visible;
}

.listGrid:hover > .listItem > .dateTimeLabel
{
  font-size:x-small;
}

.listItem
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listTask
{
  background-color: transparent;
  border-color: transparent;
}

#loggedInDiv
{
  margin-bottom: 1em;
}

.navi 
{
  background-color: transparent;
  margin-bottom: 1em;
}

.navBtn 
{
  background-color: rgba(255, 255, 255, 0.25);
  border-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.newTask
{
  width: 75%;
}

#newTaskForm, #newSchedTaskForm
{
  margin-bottom: 0px;
  margin-top: 1%;
  bottom: 0px;
}

.page
{
  position:fixed;
  min-width: 100vw;
  min-height: 100vh;

  background: linear-gradient(0.19deg, #BBD2C5 -1.76%, #536976 99.85%);
}

.pageSolid
{
  position: relative;
  min-width: 100vw;
  min-height: 100vh;

  background-color: #8BA2A1;
}

.priority
{
  align-items: center;
  align-content: center;
  padding: auto;
}

.priorityTaskView
{
  visibility: hidden;
}

#productLine
{
 font-size: 6vw;
}

#productText
{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 1em;
  margin-left: 4em;
}

.schedButton
{
  margin-right: 10px;
}

.schedTaskForm
{
  display:flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.schedTaskView
{
  display: none;
}

.splitFields
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.tagline
{
  font-size: 8vw;
}

.taskTitle
{
 margin-right: auto;
}

.taskCtrl
{
  border-color: transparent;
  background-color: transparent;
  color: black;
}

#text
{
  display: none;
}

.todo-label
{
  display: flex;
}

.todo-label
{
  font-size: 1.25em;
}

.toDoBar
{
  padding: 2em;
}

.toggle-btn[aria-pressed="true"] 
{
  text-decoration: underline;
  background-color: #89a89e;
  border-color: #738d85;
}