#addButton
{
  max-width: 46px;
  position: absolute;
  top: 8em;
  right: 5em;
}

.app
{
  text-align: center;
}

.btn-group
{
  align-items: center;
}

.buttonScheme
{
  background-color: #708090;
  border-color: transparent;
  color: white;
  margin-left: 1%;
  margin-right: 1%;
}

.canvasCards
{
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
}

.cardContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: stretch;
  gap: 5px;
  padding-left: 3em;
  padding-right: 3em;
}

.cardItem
{
  flex-grow: 3;
}

.checkScheme
{
  margin-right: 1em;
}

.desc 
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 3vw;
  margin-top: 3em;
  width: 40vw;
}

.editBtns
{
  display: flex;
  flex-direction: row;

}

.editFields
{
  display: flex;
}

.editLine
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.editTask, .listGrid:hover
{
  background-color: white;
  border-radius: 10px;
}

.filterBtns
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 1em;
  padding-right: auto;
}

.form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formBtn
{
  background-color: #708090;
  border-color: transparent;
  border-radius: 20px;
  color: white;
}

#formCard
{
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border-radius: 20px;
  padding: 2em 3em 2em;
}

#helpLink
{
  text-align: right;
  font-size: smaller;
}

#homeText
{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  margin-left: 4em;
}

.inFields
{
  border-color: transparent;
  border-radius: 10px;
  background-color: #E1E1E7;
  font-size: larger;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

.inFields:focus
{
  background-color: rgb(243, 243, 243);
}

#landing
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  top: 1em;
}

.listGrid
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}

.listGrid:hover > .btn-group > .schedTaskView
{
  display: inline-block;
}

.listGrid:hover > .btn-group > .priorityTaskView
{
  visibility: visible;
}

.listTask
{
  background-color: transparent;
  border-color: transparent;
}

#loggedInDiv
{
  margin-bottom: 1em;
}

.navi 
{
  background-color: transparent;
  margin-bottom: 1em;
}

.navBtn 
{
  background-color: rgba(255, 255, 255, 0.25);
  border-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.newTask
{
  width: 40%;
}

#newTaskForm
{
  margin-top: 1em;
}

.page
{
  position:fixed;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(0.19deg, #BBD2C5 -1.76%, #536976 99.85%);
}

.pageSolid
{
  position: relative;
  width: 100vw;
  height: 100vh;

  background-color: #8BA2A1;
}

.priority
{
  align-items: center;
  align-content: center;
  padding: auto;
}

.priorityTaskView
{
  visibility: hidden;
}

#productLine
{
 font-size: 6vw;
}

#productText
{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 1em;
  margin-left: 4em;
}

.tagline
{
  font-size: 8vw;
}

.taskTitle
{
 margin-right: auto;
}

.taskCtrl
{
  border-color: transparent;
  background-color: transparent;
  color: black;
}

.schedTaskView
{
  display: none;
}

.todo-label
{
  font-size: 1.25em;
}

.toDoBar
{
  padding: 2em;
}

.toggle-btn[aria-pressed="true"] 
{
  text-decoration: underline;
  background-color: #89a89e;
  border-color: #738d85;
}